<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {font-size: 18px;}
          /*refundInfo*/
        .subTable{width: 100%; background-color: #f4f4f4;}
        .subTable *{font-size: 14px;}
        .subTable{border:16px solid #f4f4f4;}
        .st1{height: 30px;}
    </style>
</head>
<body>

    <table border="1">
        <div class="refundTb">
        <tr>
            <td class="st1">반환 금액</td>
        </tr>
        <tr>
            <td>반환 신청 금액</td>
            <td>${ oi.totalPrice }원</td>
        </tr>
        <tr>
            <td colspan="2">
                    상세금액
                <table class="subTable" id="subTable">
                    <tr>
                        <td>리워드 금액</td>
                        <td>${ oi.rewardPrice }원</td>
                    </tr>
                    <tr>
                        <td>추가 후원금</td>
                        <td>${ oi.orderPlus }원</td>
                    </tr>
                </table>
            </td>
        </tr>
      </div>
        <tr>
            <td colspan="2">
                                                       펀딩금 반환 신청 처리
            <table class="subTable">
                <tr>
                    <td><b>승인</b></td>
                </tr>
                <tr>
                    <td class="ment">신청 사유가 반환 정책에 해당된다면, 승인처리하세요. 승인처리시, 결제 취소가 진행됩니다.</td>
                </tr>
                <tr>
                    <td><b>거절</b></td>
                </tr>
                <tr>
                    <td class="ment">신청 사유가 반환 정책에 해당하지 않은 경우, 거절 처리하세요. 결제취소가 진행되지 않습니다.</td>
                </tr>
            </table>
            </td>
        </tr>
    </table>
    
</body>
</html>