<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="withusRefundMapper">
	<resultMap type="Refund" id="refundRset">
		<result column="refund_no" property="refundNo"/>
		<result column="order_no" property="orderNo"/>
		<result column="r_originname" property="reOrginName"/>
		<result column="r_changename" property="reChangeName"/>
		<result column="r_reason" property="reReason"/>
		<result column="refund_status" property="refundStatus"/>
		
		<result column="member_name" property="memberName"/>
		<result column="reward_title" property="rewardTitle"/>
		<result column="reward_price" property="rewardPrice"/>
		<result column="project_title" property="projectTitle"/>
		<result column="project_end_dt" property="projectEndDt"/>
		<result column="order_option" property="orderOption"/>
		<result column="order_date" property="orderDate"/>
		<result column="order_plus" property="orderPlus"/>
		<result column="total_price" property="totalPrice"/>
		<result column="order_status" property="orderStatus"/>
		<result column="order_count" property="orderCount"/>
		<result column="bank_name" property="bankName"/>
		<result column="bank_account" property="bankAccount"/>
		
	</resultMap>
	
	<!-- 페이징 처리 -->
	<select id="rSelectListCount" resultType="_int">
		select
			   count(*)
		from refund
	</select>
	
	<!-- 회원조회용 -->
	<select id="rSelectList" resultMap="refundRset">
		select 
        		refund_no
		      , member_name  
		      , project_title
		      , reward_title
		      , order_option
		      , r_reason
		      , refund_status
		   from refund r,
		        (select
		               member_name
		             , project_title 
		             , reward_title
		             , order_option
		          from tb_order
		          join member using (member_no)
		          join project using (project_no)
		          join reward using (reward_no)
		          )
		 order
		    by refund_no desc   
	</select>
	
	<select id="selectRefund" resultMap="refundRset" 
	        parameterType="_int">
	select
	         refund_no
	     --, reward_pirce
	     --, order_date
	     --, order_plus
	     --, member_name
	     --, total_price
	    -- , project_end_dt
	     --, order_Status
	     --, cardNo
	     --, project_title
	     --, reward_title
	     --, order_option
	     --, order_count
	     --, bank_name
	     --, bank_account
	     , r_reason
	     , r_changename
	     , refund_status
	  from refund , 
	       (   
	       select 
	               order_no
	             , order_date   
	             , order_status
	             , order_count
	             , order_plus
	             , order_option
	             , bank_name
	             , bank_account
	             , total_price
	             , reward_title
	             , reward_price
	             , o.reward_no 
	          from tb_order o
	          join reward r 
	            on (o.reward_no = r.reward_no)
	          where o.reward_no = r.reward_no        
	       )
	where refund_no = #{refundNo}
	</select>
	
</mapper>
  