<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="withusRefundMapper">
	<resultMap type="Refund" id="refundRset">
		<result column="refund_no" property="refundNo"/>
		<result column="order_no" property="orderNo"/>
		<result column="r_originname" property="reOrginName"/>
		<result column="r_changename" property="reChangeName"/>
		<result column="r_reason" property="reReason"/>
		<result column="refund_status" property="refundStatus"/>
		
		<result column="member_name" property="memberName"/>
		<result column="project_title" property="projectTitle"/>
		<result column="reward_title" property="rewardTitle"/>
		<result column="order_option" property="orderOption"/>
	</resultMap>
	
	<!-- 페이징 처리 -->
	<select id="rSelectListCount" resultType="_int">
		select
			   count(*)
		from refund
	</select>
	
	<!-- 회원조회용 -->
	<select id="rSelectList" resultMap="refundRset">
		select 
        		refund_no
		      , member_name  
		      , project_title
		      , reward_title
		      , order_option
		      , r_reason
		      , refund_status
		   from refund r,
		        (select
		               member_name
		             , project_title 
		             , reward_title
		             , order_option
		          from tb_order
		          join member using (member_no)
		          join project using (project_no)
		          join reward using (reward_no)
		          )
		 order
		    by refund_no desc   
	</select>
</mapper>
  